<div class="flex flex-col gap-2">
  <app-about></app-about>
  <app-projects></app-projects>
  <app-blogs></app-blogs>
  <app-skills></app-skills>
</div>

<div class="text-black/[0.5]">

  <hr class="text-black/[0.1] mb-5">
  <div class="flex flex-col justify-center items-center gap-y-5">
    <div class="flex gap-2 text-sm font-light">
      <a href="">Github</a>
      <a href="">LinkedIn</a>
      <a href="">Email</a>
    </div>
    <p class="text-sm font-light">&#64; 2025 Mohit. All rights reserved</p>
  </div>

</div>