<div class="flex w-full flex-col gap-5 sm:flex-row justify-between ">
    
  <!-- Swipe Hint -->
  <div class="text-gray-400 text-sm">
    Swipe Down or Click on menu
  </div>

  <!--Menu-->
  <div class="flex items-center space-x-4 justify-between bg-white p-1 rounded-xl shadow hover:shadow-md transition-all border border-gray-200 group">
          
    <h3 class="font-extralight mr-10 ml-2 text-gray-900 group-hover:text-blue-700 uppercase transition">Menu</h3>
    
    <div *ngFor="let item of menu" class="flex items-center flex-row space-x-4">
      <a class="w-10 h-10 rounded-lg flex items-center justify-center bg-amber-100" [title]="item.title">
        <img [src]= "item.image" alt=" " class="w-6 h-6">
      </a>
    </div>
  </div>

</div>

<div class="flex flex-col gap-10">
  <app-about></app-about>
  <app-blogs></app-blogs>
  <app-projects></app-projects>
  <app-skills></app-skills>
</div>

<div class="text-black/[0.5]">

  <hr class="text-black/[0.1] mb-5">
  <div class="flex flex-col justify-center items-center gap-y-5">
    <div class="flex gap-2 text-sm font-light">
      <a href="">Github</a>
      <a href="">LinkedIn</a>
      <a href="">Email</a>
    </div>
    <p class="text-sm font-light">&#64; 2025 Mohit. All rights reserved</p>
  </div>

</div>