<div class="flex w-full flex-col gap-5 sm:flex-row justify-between ">
    
    <!-- Swipe Hint -->
    <div class="text-gray-400 text-sm">
      Swipe Down or Click on menu
    </div>

    <!--Menu-->
    <div class="flex">
      
      <div  class="w-full flex rounded-lg border-1 border-gray-600/[0.3] hover:border-gray-600/[0.4]  bg-gray-100 transition-all">
        <p>MENU</p>
        
        <!-- Ng For-->
        <div class="flex">
          <div class="flex flex-col sm:flex-row items-start p-2 rounded-md"> <!--Small <-> Large Screen-->
          
            <div class="w-10 aspect-square border border-black/[0.1] hover:border-black/[0.2] rounded-md transition-all">
            </div>
            
          </div>
          <div class="flex flex-col sm:flex-row items-start p-2  rounded-md"> <!--Small <-> Large Screen-->
            
            <div class="w-10 aspect-square border border-black/[0.1] hover:border-black/[0.2] rounded-md transition-all">
            </div>
            
          </div>
        </div>
        


      </div>

    </div>

  </div>

<div class="flex flex-col gap-10">
  <app-about></app-about>
  <app-blogs></app-blogs>
  <app-projects></app-projects>
  <app-skills></app-skills>
</div>

<div class="text-black/[0.5]">

  <hr class="text-black/[0.1] mb-5">
  <div class="flex flex-col justify-center items-center gap-y-5">
    <div class="flex gap-2 text-sm font-light">
      <a href="">Github</a>
      <a href="">LinkedIn</a>
      <a href="">Email</a>
    </div>
    <p class="text-sm font-light">&#64; 2025 Mohit. All rights reserved</p>
  </div>

</div>