<div id="blogs_subpage" class="bg-slate-950/[0.05] border-black/[0.05] rounded-sm p-2 border-1">
  <div class="bg-white/[0.9] hover:bg-white-50/[0.01] border-black/[0.2] hover:border-black/[0.3] p-5 rounded-xl border-1">
    
    <div class="flex justify-between">
      <h2 class=" font-roboto text-lg  mb-2 uppercase">Blogs</h2>
      <div class="bg-slate-950/[0.05] w-10 h-10 rounded-lg border hover:bg-gray-400/[0.2] border-black/[0.2] hover:border-black/[0.4] transition-all">
        <a href="https://se00n00.github.io/Personal-Blog/" class="flex items-center justify-center h-full">
          <img src="icons/blog_icon/circle.svg" alt=" " class="w-8">
        </a>
      </div>
    </div>

    <p class="font-extralight font-roboto text-[15px] text-black/[0.8] mb-4">
      Here are some blogs that detail my experiences, insights, and lessons learned throughout my journey
    </p>

    <div *ngIf="blogs.length; else loading" class="space-y-6">
      <a *ngFor="let blog of blogs"
        [href]="blog.links"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center justify-between bg-white p-2 rounded-xl shadow-md hover:shadow-xl transition-all border border-gray-200 group">
        
        <div class="flex flex-col md:flex-row space-x-4 space-y-4 md:space-y-0 w-full">
          <img [src]="blog.icon" alt="icon" class="md:w-50 rounded-xl">

          <div class="flex flex-col space-x-2 space-y-5 w-full">
            <div class="flex justify-between w-full">

              <div class="flex justify-center items-center">
                <h3 class="font-extralight font-roboto text-gray-900 text-sm group-hover:text-blue-700 transition">{{ blog.title }}</h3>
                <span class="text-[10px] h-max w-max uppercase tracking-wide font-light text-nowrap font-roboto bg-gray-100 text-gray-600 px-2 py-1 rounded-lg inline-block">
                  {{ blog.label }}
                </span>
              </div>
              
              <div class="text-gray-400 mr-2 text-xl group-hover:text-blue-600 transition">></div>
            </div>

            <p class="font-extralight text-xs font-roboto">{{blog.description}}</p>
            
          </div>
        </div>

      </a>
    </div>

    <ng-template #loading>
      <p class="text-center text-gray-500">Loading blogs...</p>
    </ng-template>

  </div>
</div>
