<div class="profile_page flex h-full items-center justify-center">
  <div class="sub_profile_page flex flex-col items-center relative lg:w-[65vw]">
    
    <!-- Loading State -->
    <div *ngIf="isLoading" class="flex justify-center items-center h-64">
      <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-gray-500"></div>
    </div>
  
    <!-- Error State -->
    <div *ngIf="error" class="text-red-500 text-center p-4">
      Failed to load profile data. Please try again later.
    </div>

    <!-- MENU BAR -->
    <div class="menu_bar z-10 sticky top-10 flex w-full sm:px-5 gap-5 flex-row items-center justify-between bg-transparent backdrop-blur-lg p-1 rounded-xl shadow-2xl hover:shadow-md transition-all border border-gray-200">
    
      <!-- Swipe Hint -->
      <div class="flex items-center text-gray-400 text-sm font-roboto font-light cursor-pointer" (click)="scrollTo('home')">
        <img src="favicon.svg" class="h-8 md:-left-2 relative">
        <p class="hidden md:flex m-0 p-0">
          Swipe Down or Click on menu >
        </p>
      </div>
    
      <!--Menu-->
      <div class="flex items-center space-x-4 justify-between" >
               
        <div *ngFor="let item of menu" class="flex items-center flex-row space-x-1 sm:space-x-4">
          <div class="h-10 cursor-pointer rounded-lg flex items-center justify-center" (click)="scrollTo(item.links)">
            <h3 class="font-extralight font-roboto mr-1 ml-2 text-xs sm:text-sm text-gray-900 hover:text-blue-700 uppercase transition">
              {{item.title}}
            </h3>
          </div>
        </div>

        <!-- <img src="project_icon/ghost.svg" alt=" " class="h-8" (click)="toggleDarkMode()"> -->
      </div>
    
    </div>

    <!-- Profile Card & Contact Menu -->
    <div id="home" class="flex flex-col w-full min-h-[85vh] justify-between">
      <div></div>

      <div class="flex flex-col sm:flex-row bg-slate-950/[0.05] rounded-sm p-2 border-1 border-black/[0.05]">
        
        <div class="flex flex-col gap-2">
          <!-- Profile card  -->
          <div *ngIf="profileData && !isLoading" class="bg-white/[0.9] hover:bg-white-50/[0.01] border-black/[0.2] hover:border-black/[0.3] w-full rounded-xl border-1 transition-all">
            <div class="flex flex-col md:flex-row items-start p-6 space-y-2"> <!--Small <-> Large Screen-->
              
              <!-- Profile Image -->
              <div class="mr-6 w-full md:w-auto">
                @if (profileData.profile_image != " ") {
                  <div class="w-full md:w-[30vw] lg:w-[15vw] aspect-square bg-black/[0.4] rounded-md transition-all">
                    <img [src]="profileData.profile_image" alt=" " class="w-full h-full object-cover saturate-0">
                  </div>
                }
                
              </div>
              
              <!-- Profile Info -->
              <div class="flex-1 flex flex-col justify-between">
                <div class="flex justify-between items-center">
                  <h1 class="text-2xl font-roboto text-gray-950 @md:text-2xl/10 mb-1">{{ profileData.name }}</h1>
                  <!-- Location -->
                  <div class="text-xs font-roboto text-gray-500">
                    {{ profileData.current_location }}
                  </div>
                </div>
                
                <p class="text-xs font-roboto text-gray-500 mb-4">{{ profileData.profession }}</p>
                <p class="text-sm text-gray-600 font-roboto mb-4">{{ profileData.short_about }}</p>
                
                <!-- Tags -->
                <div class="flex flex-wrap gap-2">
                  <span *ngFor="let tag of profileData.tags" 
                        class="px-2 py-1 bg-gray-200 text-gray-600 font-roboto  font-extralight text-xs rounded-lg">
                    {{ tag }}
                  </span>
                </div>

                <!-- Github and other statistics ...  -->
                <div class="flex max-w-[80vw] sm:max-w-[68vw] md:max-w-[40vw] xl:max-w-[42vw] gap-1 overflow-x-scroll my-4 rounded-lgg">
                  <div *ngFor="let week of weeks;track $index" class="flex flex-col gap-1">
                    <div *ngFor="let day of week" class="w-3 h-3 rounded-[2px] transition"
                      [ngClass]="{
                        'bg-black/[0.1]': day.level === 0,
                        'bg-black/[0.3]': day.level === 1,
                        'bg-black/[0.5]': day.level === 2,
                        'bg-black/[0.7]': day.level === 3,
                        'bg-black/[0.9]': day.level === 4
                      }"
                      [title]="day.date + ': ' + day.count + ' contributions'"
                    ></div>
                  </div>
                </div>
                

              </div>
              

            </div>
          </div>

        </div>
        

        <!-- Contact Menu -->
        <div *ngIf="profileData && !isLoading" class="w-full sm:w-16 sm:absolute -right-16 mt-2 sm:mt-0 flex flex-row sm:flex-col items-center gap-3">
          <a *ngFor="let contact of profileData.contacts" 
            [href]="contact.link" 
            class="w-10 h-10 bg-gray-100 hover:bg-gray-200 border border-black/[0.1] hover:border-black/[0.2] rounded-sm flex items-center justify-center transition-colors">
            <img [src]="contact.image" [alt]="contact.label" class="p-1">
          </a>
          <div (click)="shareWeb()" class="w-10 h-10 cursor-pointer bg-gray-100 hover:bg-gray-200 border border-black/[0.1] hover:border-black/[0.2] rounded-sm flex items-center justify-center transition-colors">
            <img src="project_icon/share.svg" alt=" " class="p-1">
        </div>
        </div>
      </div>
      
      <div></div>
    </div>

    <div class="flex justify-center items-center font-roboto font-extralight text-black/[0.8] my-5 animate-pulse">Scroll Down</div>
    <!-- Sub-pages: Earlier Contains MenuBar - explains name -->
    <app-menu class="w-full"></app-menu>

  </div>

  
</div>

